h1{
    color: rgb(136, 151, 151);
    font-size: xx-large;
}
.div-1{
    margin: 2%;
    width: 40%;
    padding: 2%;
    float: left;
    color:black
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
img{
    padding-bottom: 120px;
    border-radius: 2%;
    padding-left: 20px;
}
.part1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  
}
.part-1{
    background-image: url("images/back1.jpg");
}
section{
    height: 700px;
    
}
