h1{
    color: rgb(136, 151, 151);
    font-size: xx-large;
}
.div-1{
    margin: 2%;
    width: 40%;
    padding: 2%;
    float: left;
    color:black
    font-family: 'Courier New', Courier, monospace;
   
}
img{
   padding-bottom: 30px;
    border-radius: 10px 5px 10px 5px;
    padding-left: 50px;
    padding-right: 30px;
}
.part1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
  
}
.part-1{
    background-image: url("images/back1.jpg");
}
section{
    height: 650px;
    
}
body{
    margin: 0%;
}
.hrefedit{
    text-decoration: none;
    font-size: larger;
    color: black;
    border-radius: 22px;
    background-image: linear-gradient(white, black);
    padding: 15px 20px;
    font-weight: 300px;
    
}
.part-2{
    background-image: url("images/back2.jpg");
}
.second-div{
    width: 50%;
    float: left;
    border-radius: 7%;
}
p{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   
}
.hrefedit2{
    text-decoration: none;
    font-size: larger;
    color: black;
    border-radius: 22px;
    background-image: linear-gradient(white, black);
    padding: 15px 20px;
    font-weight: 300px;

}
h4{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(144, 54, 54);
}
.third-part{
    background-image: url("images/back3.jpg");
    padding-top: 20px;
}
.ptag{
    text-align: center;
    font-size: 40px;
    color: rgb(42, 1, 1);
}
.leason{
    text-align: center;
    font-size: 30px;
}
.edit-email{
    text-decoration: none;
    background-image: linear-gradient(white, aqua);
    color: rgb(69, 64, 64);
    font-size: 60px;
    border-radius: 5%;
    font-weight: 200;
}
.edit-facebook{
    text-decoration: none;
    background-image: linear-gradient( aqua, white);
    color: rgb(69, 64, 64);
    font-size: 60px;
    border-radius: 5%;
    font-weight: 200;

}
.edit-insta{
    text-decoration: none;
    background-image: linear-gradient(white, aqua);
    color: rgb(69, 64, 64);
    font-size: 60px;
    border-radius: 5%;
    font-weight: 200;
}
.final-part{
    background-image: url("images/solid-light-yellow-background.jpg");
    padding-top: 20px;
}
.learn{
    font-size: 40px;
}
.foot{
    text-align: center;
}

